<footer>
    <section>
        <div class="footerTitles">
            <div class="linksContainer">
                <h4>Sobre</h4>
                <ul class="links">
                    <a href="http://" target="_blank" rel="">Rocket Games</a>
                    <a href="http://" target="_blank" rel="">Politica do Site e Marketplace</a>
                    <a href="http://" target="_blank" rel="">Trabalhe Conosco</a>
                    <a href="http://" target="_blank" rel="">Codigo de Defesa do Consumidor</a>
                </ul>
            </div>
            <div class="linksContainer">
                <h4>Fale Conosco</h4>
                <ul class="links">
                <a href="mailto:">Email</a>
                <a href="tel:+">Telefone</a>
                </ul>
            </div>
            <div class="linksContainer">
                <h4>Nossas Redes</h4>
                <ul class="networkLinks">
                    <a href="http://facebook.com" target="_blank"><li> <img class="footerImg" src="/public/img/socialMediaFacebook.png" alt=""> </li></a>
                    <a href="http://instagram.com" target="_blank"><li> <img class="footerImg" src="/public/img/socialMediaInstagram.png" alt=""> </li></a>
                    <a href="http://twitter.com" target="_blank"><li> <img class="footerImg" src="/public/img/socialMediaTwitter.png" alt=""> </li></a>
                </ul>
            </div>
            <div class="linksContainer">
                <h4>Termos e Condições</h4>
                <ul class="links">
                    <a href=""><li> Termos e Condições </li></a>
                    <a href=""><li> Politica de Privacidade </li></a>
                    <a href=""><li> Politica de Cookies </li></a>
                </ul>
            </div>
            <div class="linksContainer">
                <h4>Formas de Pagamento</h4>
                <ul class="links">
                    <a href=""><li> <img class="paymentImg" src="/public/img/paymentMethods.png" alt=""> </li></a>
                </ul>
            </div>
        </div>
    </section>
</footer>
