<header>
        <div class="hdiv">
            <div class="headerdiv">
                <img id="logo" src="/public/img/logo.png" alt="logo rocket games">
                <form id="searchBar">
                    <input type="text" id="query" name="q" placeholder="O que voce procura?">
                    <button>Pesquisar</button>
                </form>
            </div>
            <div class="headerdiv">
                <a href="#">
                    <img id="avatarProfile" src="/public/img/avatarProfile.png" alt="Profile">
                </a>
                <a href="#">
                    <p>Faça login ou cadastre-se</p>
                </a>
                <a href="#"><img id="shoppingCar" src="/public/img/shoppingCar.png" alt=""></a>
            </div>
        </div>

        <div>
            <nav class="navBar">
                <ul>
                    <li>
                        <a href="" target="_blank">
                            Consoles
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            Jogos
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            Acessórios
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            Gift Cards
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            Bundles
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
