<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Rocket Games - Loja de Games Eletrônicos</title>
</head>

<body>
  <header>
    <section>
      <a href="#"><img class="logo" src="/img/logo.png" alt="Rocket Games Logo"></a>
      <form class="searchBar">
        <input type=" search" id="query" name="q" placeholder="O que voce procura?">
        <button>Pesquisar</button>
      </form>
      <a href="#"><img class="avatarProfile" src="/img/avatarProfile.png" alt="Perfil"></a>
      <a href="#">
        <p class="account">Faça login ou cadastre-se</p>
      </a>
      <a href="#"><img src="/img/shoppingCar.png" alt="Carrinho de Compras" class="shoppingCar"></a>
    </section>
    <nav class="links">
      <ul>
        <a href="#">
          <li>Consoles</li>
        </a>
        <a href="#">
          <li>Jogos</li>
        </a>
        <a href="#">
          <li>Acessórios</li>
        </a>
        <a href="#">
          <li>Gift Cards</li>
        </a>
        <a href="#">
          <li>Bundles</li>
        </a>
      </ul>
    </nav>
  </header>