<%- include('./partials/header') %>

<script defer src="/javascripts/validacaoFront.js"></script>

<% if (typeof errors != "undefined") { %> 
  <div class="alert-danger">
      <ul>
          <% for (let i = 0; i < errors.length; i++) { %>
              <li><%= errors[i].msg %> </li>
          <% }} %>
      </ul>
  </div>


<form class="admin needs-validation flex-column" novalidate method="POST" action="/adminrocket">



    <div class="form-group ">
      <label for="validationCustom11">Login</label>
      <input class="form-control" id="validationCustom11" placeholder="Digite seu login" required aria-describedby="emailHelp" name="login">
      <small id="emailHelp" class="form-text text-muted"></small>
      <div class="invalid-feedback">Login Obrigatório</div>
    </div>

    


    <div class="form-group">
      <label for="validationCustom12">Senha</label>
      <input type="password" class="form-control" id="validationCustom12" placeholder="Digite sua Senha" required name="senha" >
      <div class="invalid-feedback">Senha Obrigatória</div>
      
    </div>

    <div class="form-check mt-3">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Continuar Conectado</label>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #00AFEF;">Iniciar Sessão</button>
  </form>

  




  <a class="admin1" href="">Esqueceu a senha?</a>


  <%- include('./partials/footer') %>