<%- include('./partials/header') %>

<% if (typeof errors != "undefined") { %> 
  <div class="alert-danger">
      <ul>
          <% for (let i = 0; i < errors.length; i++) { %>
              <li><%= errors[i].msg %> </li>
          <% }} %>
      </ul>
  </div>
<form class="admin flex-column" method="POST" action="/adminrocket">
    <div class="form-group ">
      <label for="exampleInputEmail1">Login</label>
      <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="login">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="senha" >
    </div>
    <div class="form-check mt-3">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Continuar Conectado</label>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #00AFEF;">Iniciar Sessão</button>
  </form>
  <a class="admin1" href="">Esqueceu a senha?</a>


  <%- include('./partials/footer') %>