<%- include('./partials/header'); %>

  <section class='table-responsive'>
    <table class="tabela">
      <tr>
        <th>Produto</th>
        <th class="coluna2">Quantidade</th>
        <th class="coluna2">Preço</th>
      </tr>
      <tr>
        <td>GTA 5 - Grand Theft auto V</td>
        <td class="coluna2">01</td>
        <td class="coluna2">R$ 100,00</td>
      </tr>
      <tr>
        <td></td>
        <td class="coluna2">Subtotal</td>
        <td class="coluna2">R$ 100,00</td>
      </tr>
      <tr>
        <td></td>
        <td class="coluna2">Frete</td>
        <td class="coluna2">(defina abaixo)</td>
      </tr>
      <tr>
        <td></td>
        <td class="coluna2"> <b>Total</b> </td>
        <td class="coluna2"> <b>R$ 100,00</b> </td>
      </tr>
    </table>
  </Section>

  <main>
    <section class="dados-cliente">
      <div class="bloco1">
        <div class="titulo1">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-card-list"
            viewBox="0 0 16 16">
            <path
              d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
            <path
              d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
          </svg>
          <span class="descricao">
            <h5>NOVO CADASTRO OU <a href="indentifique-se">IDENTIFIQUE-SE:</a></h5><br>
          </span>

        </div>


        <form class="row g-3">
          <div class="col-12">
            <label for="inputAddress" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="inputAddress" placeholder="Digite seu e-mail">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Criar senha</label>
            <input type="password" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Confirmar senha</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
        </form><br>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pessoa" id="inlineCheckbox1" value="option1" checked>
          <label class="form-check-label" for="inlineCheckbox1">Pessoa Física</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pessoa" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Pessoa Jurídica</label>
        </div><br><br>

        <form class="row g-3">
          <div class="col-12">
            <label for="inputAddress" class="form-label">Nome completo</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Digite seu nome">
          </div><br>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">CPF</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Data de nascimento</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Celular</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Telefone Fixo</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>
        </form>



      </div>



      <div class="bloco2">
        <div class="titulo2">

          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-geo-alt"
            viewBox="0 0 16 16">
            <path
              d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
          <span class="descricao2">
            <h5>DADOS DE ENTREGA:</h5><br>
          </span>

        </div><br>


        <form class="row g-3">
          <div class="col-md-9">
            <label for="inputAddress" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Digite seu endereço">
          </div>
          <div class="col-md-3">
            <label for="inputPassword4" class="form-label">Número</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Referência</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Estado</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">CEP</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Digite seu CEP">
          </div>
        </form><br>


        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="tipo" id="inlineCheckbox1" value="option1" checked>
          <label class="form-check-label" for="inlineCheckbox1">Envio <b>10 minutos</b> por e-mail.</label>
        </div><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="tipo" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Envio em mídia física.</label>
        </div>
        </form>



      </div>


      </div>
      <div class="bloco3">
        <div class="titulo3">

          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-credit-card"
            viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
          </svg>
          <span class="descricao3">
            <h5>PAGAMENTO:</h5><br>
          </span>

        </div><br>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pagamento" id="inlineCheckbox1" value="option1" checked>
          <label class="cartao" for="inlineCheckbox1"> <img src="/public/img/cartaoCredito.png" alt=""> </label>
        </div><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pagamento" id="inlineCheckbox1" value="option1">
          <label class="pix" for="inlineCheckbox1"><img src="/public/img/pix.png" alt=""></label>
        </div><br>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pagamento" id="inlineCheckbox1" value="option1">
          <label class="boleto" for="inlineCheckbox1"><img src="/public/img/boleto.png" alt=""></label>
        </div><br>


        <form class="row g-3">
          <div class="col-md-8">
            <label for="inputAddress" class="form-label">Número do cartão</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Número do Cartão">
          </div>
          <div class="col-md-4">
            <label for="inputPassword4" class="form-label">Validade</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="mm/aa">
          </div>
          <div class="col-12">
            <label for="inputEmail4" class="form-label">Nome no Cartão</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-4">
            <label for="inputPassword4" class="form-label">Cód. Seg.</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>





          <div class="col-md-12">
            <div class="form-floating">
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>Quantidade de parcelas</option>
                <option value="1">1x</option>
                <option value="2">2x</option>
                <option value="3">3x</option>
                <option value="4">*4x</option>
                <option value="5">*5x</option>
                <option value="6">*6x</option>
                <option value="7">*7x</option>
                <option value="8">*8x</option>
                <option value="9">*9x</option>
                <option value="10">*10x</option>
                <option value="11">*11x</option>
                <option value="12">*12x</option>
              </select>
              <label for="floatingSelectGrid">* Com Juros</label>
            </div><br>

            <div class="col-15">
              <div class="botaofinalizar"><button type="submit" class="btn btn-primary"> <b>Finalizar Compra</b>
                </button>
              </div>

            </div>
        </form>
      </div>
      </div>
      </div>




      </form>

      </div>
    </section>



  </main>

  <%- include('./partials/footer'); %>