<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/finalizarCompra.css">
  <title>Finalizar Compra - Rocket Games</title>
</head>

<body>

  <header>
    <section>
      <a href="#"><img class="logo" src="/public/img/logo.png" alt="Rocket Games Logo"></a>
      <form class="searchBar">
        <input type=" search" id="query" name="q" placeholder="O que voce procura?">
        <button>Pesquisar</button>
      </form>
      <a href="#"><img class="avatarProfile" src="/public/img/avatarProfile.png" alt="Perfil"></a>
      <a href="#">
        <p class="account">Faça login ou cadastre-se</p>
      </a>
      <a href="#"><img src="/public/img/shoppingCar.png" alt="Carrinho de Compras" class="shoppingCar"></a>
    </section>
    <nav>
      <ul>
        <a href="#">
          <li>Consoles</li>
        </a>
        <a href="#">
          <li>Jogos</li>
        </a>
        <a href="#">
          <li>Acessórios</li>
        </a>
        <a href="#">
          <li>Gift Cards</li>
        </a>
        <a href="#">
          <li>Bundles</li>
        </a>
      </ul>
    </nav>
  </header>
  <section class='table-responsive'>
    <table class="tabela">
      <tr>
        <th>Produto</th>
        <th class="coluna2">Quantidade</th>
        <th class="coluna2">Preço</th>
      </tr>
      <tr>
        <td>GTA 5 - Grand Theft auto V</td>
        <td class="coluna2">01</td>
        <td class="coluna2">R$ 100,00</td>
      </tr>
      <tr>
        <td></td>
        <td class="coluna2">Subtotal</td>
        <td class="coluna2">R$ 100,00</td>
      </tr>
      <tr>
        <td></td>
        <td class="coluna2">Frete</td>
        <td class="coluna2">(defina abaixo)</td>
      </tr>
      <tr>
        <td></td>
        <td class="coluna2"> <b>Total</b> </td>
        <td class="coluna2"> <b>R$ 100,00</b> </td>
      </tr>
    </table>
  </Section>

  <main>
    <section class="dados-cliente">
      <div class="bloco1">
        <h4>NOVO CADASTRO OU <a href="indentifique-se">IDENTIFIQUE-SE</a></h4><br>
        <h5>E-MAIL:</h5><br>
        <form action=""></form>
        <div>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
        <div>
          <h5>NOME COMPLETO:</h5><br>
          <form action=""></form>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
        <div>
          <h5>CPF:</h5><br>
          <form action=""></form>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
        <div>
          <h5>DATA DE NASCIMENTO:</h5><br>
          <form action=""></form>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
        <div>
          <h5>CELULAR:</h5><br>
          <form action=""></form>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
      </div>
      <div class="bloco2">
        <h4>ENTREGA</h4><br>
        <h5>CEP:</h5><br>
        <form action=""></form>
        <div>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
        <div>
          <h5>ENDEREÇO:</h5><br>
          <form action=""></form>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
        <div>
          <h5>Nº:</h5><br>
          <form action=""></form>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
        <div>
          <h5>CIDADE:</h5><br>
          <form action=""></form>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
        <div>
          <h5>ESTADO:</h5><br>
          <form action=""></form>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
        <div>
          <h5>PAÍS:</h5><br>
          <form action=""></form>
          <label for="nome"></label>
          <input type="text" />
        </div> <br>
      </div>
      <div class="bloco3">
        <h4>PAGAMENTO</h4><br>
        <form action="resultado.html" method="POST">
          <label for="">Forma de Pagamento:</label><br><br>
          <input type="radio" name="forma de pagamento" value="s">
          <input type="submit" name="forma de pagamento" value="CARTÃO"><br><br>
          <input type="radio" name="forma de pagamento" value="s">
          <input type="submit" name="forma de pagamento" value="PIX"><br><br>
          <input type="radio" name="forma de pagamento" value="s">
          <input type="submit" name="forma de pagamento" value="BOLETO"><br><br>
          
      </form>

      <Button>Finalizar a Compra</Button>
      </div>
    </section>
  </main>
</body>

<footer></footer>

</html>