<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Rocket Games - Home</title>
</head>

<body>
    <header>
        <img id="logo" src="/public/img/logo.png" alt="logo rocket games">
        <form id="searchBar">
            <input type="search" id="query" name="q" placeholder="O que voce procura?">
            <button>Search</button>
        </form>
        <a href="#">
            <img id="avatarProfile" src="/public/img/avatarProfile.png" alt="Profile">
        </a>
        <a href="#">
            <p>Faça login ou cadastre-se</p>
        </a>
        <a href="#"><img id="shoppingCar" src="/public/img/shoppingCar.png" alt=""></a>
    </header>
    <div class="navBar">
        <ul>
            <li>
                <a href="" target="_blank">
                    Consoles
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    Jogos
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    Acessórios
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    Gift Cards
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    Bundles
                </a>
            </li>
        </ul>
    </div>
    <main>
        <div id="carousel">
            <ul class="slider">
                <li>
                    <img src="/public/img/eldenring.png" />
                </li>
            </ul>
        </div>
        <div>
            <ul class="productimages">
                <li class="productlist">
                    <div class="productbox">
                        <img id="dying" src="/public/img/dying.png" />
                        <h3>
                            Dying Light
                        </h3>
                        <p>
                            R$200,00
                        </p>
                        <button class="purchasebutton">
                            Comprar Agora
                        </button>
                    </div>
                </li>
                <li class="productlist">
                    <div class="productbox">
                        <img id="eldenring" src="/public/img/eldenring.png" />
                        <h3>
                            Elden Ring
                        </h3>
                        <p>
                            R$160,00
                        </p>
                        <button class="purchasebutton">
                            Comprar Agora
                        </button>
                    </div>
                </li>
                <li class="productlist">
                    <div class="productbox">
                        <img id="granturismo" src="/public/img/gran turismo.png" />
                        <h3>
                            Gran Turismo
                        </h3>
                        <p>
                            R$150,00
                        </p>
                        <button class="purchasebutton">
                            Comprar Agora
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <div class="footer-wrapper">
            <ul class="footerUl">
                <li>
                    <h4>Sobre</h4>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="">Rocket Games</a>
                <li>
                    <a href="http://" target="_blank" rel="">Politica do Site e Marketplace</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="">Trabalhe Conosco</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="">Codigo de Defesa do Consumidor</a>
                </li>



            </ul>

            <ul class="footerUl">
                <li>
                    <h4>Fale Conosco </h4>
                </li>
                <li>
                    <a href="mailto:">Email</a>
                </li>
                <li>
                    <a href="tel:+">Telefone</a>
                </li>
            </ul>
            <ul class="footerUl">
                <li>
                    <p><b>Nossas Redes</b></p>
                </li>
                <section class="networklogos">
                    <li>
                        <a href="#"><img class="footerimg" src="/public/img/socialMediafacebook.png" alt="logo facebook"></a>
                    </li>
                    <li>
                        <a href="#"><img class="footerimg" src="/public/img/socialMediainstagram.png"alt="logo instagram"></a>
                    </li>
                    <li>
                        <a href="#"><img class="footerimg" src="\public\img\socialMediaTwitter.png" alt="logo twitter"></a>
                    </li>
                </section>

            </ul>
            <ul class="footerUl">
                <li>
                    <p><b>Termos e Condições </b></p>
                </li>
                <li><a href="#">Termos e Condições</a></li>
                <li><a href="#">Politica de Privacidade</a></li>
                <li><a href="#">Politica de Cookies</a></li>
            </ul>
            <ul class="footerUl">
                <li>
                    <p>
                        Formas de Pagamento
                    </p>
                    <img id="payLogo" src="/public/img/paymentMethods.png" alt="logo payments">
                </li>
            </ul>
        </div>
        </div>
    </footer>
</body>

</html>





        </div>

    </footer>

</body>

</html>
