
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Games - Home</title>
    <link rel="stylesheet" href="/public/css/product.css">
    </head>
<body>
    <header>
        <img id="logo" src="/public/img/logo.png" alt="logo rocket games">
        <form id="searchBar">
            <input type="search" id="query" name="q" placeholder="O que voce procura?">      
            <button>Search</button>    
        </form>
    
</body>
</html>
