<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rocketGames/public/css/home.css">
    <title>Rocket Games - Pagina Produto</title>
</head>

<body>
    <header>
        <img id="logo" src="/rocketGames/public/img/logo.png" alt="logo rocket games">
        <form id="searchBar">
            <input type="search" id="query" name="q" placeholder="O que voce procura?">
            <button>Search</button>
        </form>
        <a href="#">
        <img id="avatarProfile" src="/rocketGames/public/img/avatarProfile.png" alt="Profile">
    </a>
        <a href="#">
            <p>Faça login ou cadastre-se</p>
        </a>
        <a href="#"><img id="shoppingCar" src="/rocketGames/public/img/shoppingCar.png" alt=""></a>
    </header>
    <div class="navBar">
        <ul>
            <a href="" target="_blank"><li>PS3</li></a>
            <a href="" target="_blank"><li>PS4</li></a>
            <a href="" target="_blank"><li>PS5</li></a>
            <a href="" target="_blank"><li>PC</li></a>
            <a href="" target="_blank"><li>Gift Card</li></a>
        </ul>
    </div>
  
 
    <main>
        <div id="carousel">
            <ul class="slider">
                <li>
                      <img src="images/1.jpg" />
                </li>
                <li>
                      <img src="images/2.jpg" />
                </li>
                <li>
                      <img src="images/3.jpg" />
                </li>
            </ul>
        
        </div> 
        
        </main>
        </html>
      
    </main>
    <footer>

    </footer>

</body>

</html>
