<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Games - Painel</title>

</head>
<body>
    <header>
        <img id="logo" src="/rocketGames/public/img/logo.png" alt="logo rocket games">
        <form id="searchBar">
            <input type="search" id="query" name="q" placeholder="O que voce procura?">
            <button>Search</button>
        </form>
        <a href="#">
            <img id="avatarProfile" src="/rocketGames/public/img/avatarProfile.png" alt="Profile">
        </a>
        <a href="#">
            <p>Faça login ou cadastre-se</p>
        </a>
        <a href="#"><img id="shoppingCar" src="/rocketGames/public/img/shoppingCar.png" alt="Carrinho de Compras"class="shoppingCar" ></a>
    
    </header>
    </body>
</html>