<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Games - Painel</title>
    <link rel="stylesheet" href="painel.css">
</head>
<header>
    <img id="logo" src="/public/img/logo.png" alt="logo rocket games">
    <form id="searchBar">
        <input type="search" id="query" name="q" placeholder="O que voce procura?">
        <button>Search</button>
    </form>
    <a href="#">
        <img id="avatarProfile" src="/public/img/avatarProfile.png" alt="Profile">
    </a>
    <a href="#">
        <p>Faça login ou cadastre-se</p>
    </a>
    <a href="#"><img id="shoppingCar" src="/public/img/shoppingCar.png" alt=""></a>
</header>

<body>
   
    <nav id="menu-h">

    <ul>
        <li><a href="#">Pagina Inicial</a></li>
        <li><a href="#">Minha conta</a></li>
       
    </ul>
</nav>    
</body>

<main>


 
   <div id="dados">
     <li>a</li>
     <li>b</li>
     <li>c</li>
</div>

<div id="dados1">
  <li>1</li>
  <li>2</li>
  <li>3</li>

</div>

<div id="dados2">
  <li>1</li>
  <li>2</li>
  <li>3</li>
</div>
 
</main>
    

<footer>
    <div class="footer-wrapper">
        <ul class="footerUl">
            <li class="footerList">
                <div class="footerDiv">
                    <img id="contactLogo" src="/public/img/contact.png" alt="logo contact">
                    <p>
                        Fale Conosco
                    </p>
                    
                   
                </div>
            </li>
            <li>
                <p> <a href="" target="_blank">
                        link 1
                    </a>
                </p>
            </li>
            <li>
                <p> <a href="" target="_blank">
                        link2
                    </a>
                </p>
            </li>
        </ul>
        <ul class="footerUl">
            <li>
                <p>
                    Nossas Redes
                </p>
            </li>
            <li class="socialIcon">
                 <a href="#"><img id="fbLogo" src="/public/img/facebook.png" alt="logo facebook">
                    </a>
                
            </li>
            <li class="socialIcon">

                <a href="#"><img id="instaLogo" src="/public/img/instagram.png" alt="logo instagram">
                </a>
            </li>
        </ul>
        <ul class="footerUl">

            <li>
                <p>
                    Termos e Condições
                </p>
            </li>
            <li>
                <a href="#">
                    link1
                </a>
            </li>
        </ul>

        <ul class="footerUl">
            <li>
                <p>
                    Formas de Pagamento
                </p>
                <img id="payLogo" src="/public/img/paymentMethods.png" alt="logo payments">
            </li>

        </ul>






    </div>

</footer>





</html>