<%- include('./partials/header') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <ul id="imageBar" class="">
                        <li><a href=""> <img class="m-3" src="https://source.unsplash.com/70x90/?playstation" alt="">
                            </a></li>
                        <li><a href=""> <img class="m-3" src="https://source.unsplash.com/70x90/?playstation" alt="">
                            </a></li>
                        <li><a href=""> <img class="m-3" src="https://source.unsplash.com/70x90/?playstation" alt="">
                            </a></li>
                    </ul>
                </div>
                <div class="col-7 d-flex justify-content-around">
                    <img class="imgProduct m-3" src="https://source.unsplash.com/380x500/?playstation"
                        alt="Imagem do Produto">
                    <div class="m-3">
                        <h2>Nome do Produto</h2>
                        <p class="productDescription">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ipsam consectetur quia,
                            libero expedita laboriosam illum dolorum quas ipsum deleniti nam, error culpa. Repellat
                            aspernatur modi obcaecati incidunt labore voluptates.Culpa vel minima nostrum odio error
                            veniam aperiam nemo eius voluptate recusandae, quos omnis nesciunt rerum quo quidem
                            obcaecati. Optio voluptate molestiae pariatur culpa labore rem ullam iste nulla consequatur.
                        </p>
                        <ul class="share d-flex justify-content-md-center">
                            <li><a href="face"> <img class="m-3" src="/img/socialMediaFacebook.png" alt="Facebook"></li>
                            </a>
                            <li><a href="insta"> <img class="m-3" src="/img/socialMediaInstagram.png" alt="Instagram">
                            </li></a>
                            <li><a href="zap"> <img class="m-3" src="/img/socialMediaWhatsApp.png" alt="WhatsApp"></li>
                            </a>
                        </ul>
                    </div>

                </div>
                <div class="col-3">
                    <section class="productPrice">
                        <h1>R$ 259,00</h1>
                        <p>Formas de Pagamento</p>
                        <img src="/img/paymentMethods.png" alt="">
                        <p>Calcular frete e prazo</p>
                        <form class="frete">
                            <input id="query" name="q" placeholder="Digite o seu cep">
                            <button>OK</button>
                            <p class="valorFrete">R$ 99,99 - 5 dias úteis</p>
                        </form>
                        <form action="" class="buy">
                            <button>Adicionar ao Carrinho</button>
                            <button>Comprar Agora</button>
                        </form>
                    </section>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <section class="similarProducts mb-3">
                    <h3>Veja tambem:</h3>
                    <ul class="d-flex justify-content-around">
                        <a href="">
                            <li><img src="https://source.unsplash.com/125x125/?playstation" alt=""></li>
                        </a>
                        <a href="">
                            <li><img src="https://source.unsplash.com/125x125/?xbox" alt=""></li>
                        </a>
                        <a href="">
                            <li><img src="https://source.unsplash.com/125x125/?joystick" alt=""></li>
                        </a>
                        <a href="">
                            <li><img src="https://source.unsplash.com/125x125/?game+console" alt=""></li>
                        </a>
                        <a href="">
                            <li><img src="https://source.unsplash.com/125x125/?game+xbox" alt=""></li>
                        </a>
                        <a href="">
                            <li><img src="https://source.unsplash.com/125x125/?game+playstation" alt=""></li>
                        </a>
                        <a href="">
                            <li><img src="https://source.unsplash.com/125x125/?headset" alt=""></li>
                        </a>
                    </ul>
                </section>

                <section class="productDescription mb-3">
                    <h3>Descrição:</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, eveniet. Incidunt, consequatur
                        asperiores facere blanditiis quod tempore ad exercitationem. Cupiditate nam corporis suscipit
                        molestiae perspiciatis ipsam veniam sit laudantium cum.
                        Ipsam possimus, magnam voluptate, rerum molestias repellat adipisci error odit impedit
                        repudiandae dignissimos quo ad officiis nisi, esse saepe voluptates. Officia, itaque architecto
                        debitis nulla numquam eius distinctio veniam? Labore.
                        Cupiditate, quibusdam eligendi temporibus sit commodi est dolore quis velit incidunt ullam, esse
                        quo, dicta recusandae repudiandae libero ipsum! Eos voluptatum harum dolorum sit asperiores quam
                        reprehenderit vitae enim accusantium.
                    </p>
                </section>
                <section class="productInformation mb-3">
                    <h3>Ficha Tecnica:</h3>
                    <ul>
                        <li>Título: Nome do Produto</li>
                        <li>Plataforma: Nome da Plataforma/Console</li>
                        <li>Tipo de Midia: Fisica e/ou Digital</li>
                    </ul>
                </section>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>