<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/product.css">
    <title>Rocket Games - Pagina Produto</title>
</head>

<body>
    <header>
        <img id="logo" src="/public/img/logo.png" alt="logo rocket games">
        <form id="form">
            <input type="search" id="query" name="q" placeholder="Search...">
            <button>Search</button>
        </form>
        <img id="avatarProfile" src="/public/img/avatarProfile.png" alt="Profile">
        <a href="#">
            <p>Faça login ou cadastre-se</p>
        </a>
        <a href="#"><img id="shoppingCar" src="/public/img/shoppingCar.png" alt=""></a>
    </header>
    <div class="navBar">
        <a target="_blank" href="">
            <p>link 1</p>
        </a>
        <a target="_blank" href="">
            <p>link 2</p>
        </a>
        <a target="_blank" href="">
            <p>link 3</p>
        </a>
        <a target="_blank" href="">
            <p>link 4</p>
        </a>
        <a target="_blank" href="">
            <p>link 5</p>
        </a>
    </div>
    <main>
        <p id="productName">Nome do Produto</p>
        <div id="product">
            <div id="imageProduct">
                <img class="cover"
                    src="https://upload.wikimedia.org/wikipedia/pt/archive/0/0d/20220111000604%21Elden_Ring_capa.jpg"
                    alt="">
                <div class="shareProduct">
                    <ul>
                        <li>Compartilhar no Facebook</li>
                        <li>Tweetar</li>
                        <li>Compartilhar no Intagram</li>
                    </ul>
                </div>
                <div class="productImages">
                    <ul>
                        <li><img class="productImagesBar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiYiaGIqSi5il552xLxN9PjFXq0DIdmg4Dbg&usqp=CAU" alt=""></li>
                        <li><img class="productImagesBar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXZH023fTtcJFuKi_aogv1GBU_n_W4F7t0WA&usqp=CAU" alt=""></li>
                        <li><img class="productImagesBar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsA6bqN8IqfjhO9dFmDxaJVACkmiBFm_z4vQ&usqp=CAU" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="paymentMethods">

        </div>

        <div id="moreProducts">

        </div>
        <div id="description">

        </div>
    </main>
    <footer>

    </footer>

</body>

</html>