<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/product.css">
    <title>Rocket Games - Pagina Produto</title>
</head>

<body>
    <header>
        <section>
            <a href="#"><img class="logo" src="/public/img/logo.png" alt="Rocket Games Logo"></a>
                <form class="searchBar"">
                    <input type="search" id="query" name="q" placeholder="O que voce procura?">
                    <button>Pesquisar</button>
                </form>
            <a href="#"><img class="avatarProfile" src="/public/img/avatarProfile.png" alt="Perfil"></a>
            <a href="#"><p class="account">Faça login ou cadastre-se</p></a>
            <a href="#"><img src="/public/img/shoppingCar.png" alt="Carrinho de Compras" class="shoppingCar"></a>
        </section>
        <nav>
            <ul>
                <a href="#"><li>Consoles</li></a>
                <a href="#"><li>Jogos</li></a>
                <a href="#"><li>Acessórios</li></a>
                <a href="#"><li>Gift Cards</li></a>
                <a href="#"><li>Bundles</li></a>
            </ul>
        </nav>
    </header>

    <main>
        <section class="product">
            <div class="container">
                <ul class="imageBar">
                    <a href=""><li><img class="sampleImages" src="" alt=""></li></a>
                    <a href=""><li><img class="sampleImages" src="" alt=""></li></a>
                    <a href=""><li><img class="sampleImages" src="" alt=""></li></a>
                </ul>
                <img class="cover" src="https://www.gamingdragons.com/images/game_img/eldenringxbl.jpg" alt="Imagem do Produto">
                <div class="about">
                    <h2>Elden Ring - XBOX</h2>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ipsam consectetur quia, libero expedita laboriosam illum dolorum quas ipsum deleniti nam, error culpa. Repellat aspernatur modi obcaecati incidunt labore voluptates.
                        Culpa vel minima nostrum odio error veniam aperiam nemo eius voluptate recusandae, quos omnis nesciunt rerum quo quidem obcaecati. Optio voluptate molestiae pariatur culpa labore rem ullam iste nulla consequatur.
                    </p>
                    <ul class="share">
                        <a href=""><li><img src="/public/img/facebook-icon.png" alt="Facebook"></li></a>
                        <a href=""><li><img src="/public/img/instagram.png" alt="Instagram"></li></a>
                        <a href=""><li><img src="/public/img/WhatsApp.png" alt="WhatsApp"></li></a>
                    </ul>
                </div>   
            </div>
                
            <section class="productPrice">
                <h1>R$ 259,00</h1>
                <p>Formas de Pagamento</p>
                <img src="/public/img/paymentMethods.png" alt="">
                <p>Calcular frete e prazo</p>
                <form class="frete">
                    <input id="query" name="q" placeholder="Digite o seu cep">
                    <button>Calcular</button>
                </form>
                <form action="" class="buy">
                    <button>Adicionar ao Carrinho</button>
                    <button>Comprar Agora</button>
                </form>
            </div>
        </section>
    </main> 
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/product.css">
    <title>Rocket Games - Pagina Produto</title>
</head>

<body>
    <header>
        <img id="logo" src="/public/img/logo.png" alt="logo rocket games">
        <form id="searchBar">
            <input type="search" id="query" name="q" placeholder="O que voce procura?">
            <button>Search</button>
        </form>
        <a href="#"><img id="avatarProfile" src="/public/img/avatarProfile.png" alt="Profile"></a>
        <a href="#"><p>Faça login ou cadastre-se</p></a>
        <a href="#"><img id="shoppingCar" src="/public/img/shoppingCar.png" alt=""></a>
    </header>
    <div class="navBar">
        <ul>
            <a href="" target="_blank"><li>Link 1</li></a>
            <a href="" target="_blank"><li>Link 2</li></a>
            <a href="" target="_blank"><li>Link 3</li></a>
            <a href="" target="_blank"><li>Link 4</li></a>
            <a href="" target="_blank"><li>Link 5</li></a>
        </ul>
    </div>
    <main>
        <div id="product">
            <div class="imagesBar">
                <ul>
                    <li><img class="productImages"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiYiaGIqSi5il552xLxN9PjFXq0DIdmg4Dbg&usqp=CAU" alt="">
                        </li>
                    <li><img class="productImages"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXZH023fTtcJFuKi_aogv1GBU_n_W4F7t0WA&usqp=CAU"
                            alt=""></li>
                    <li><img class="productImages"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsA6bqN8IqfjhO9dFmDxaJVACkmiBFm_z4vQ&usqp=CAU"
                            alt=""></li>
                </ul>
            </div>
            <div id="imageProduct">
                <p id="productName">Elden Ring</p>
                <img class="cover"
                    src="https://upload.wikimedia.org/wikipedia/pt/archive/0/0d/20220111000604%21Elden_Ring_capa.jpg"
                    alt="">
                <div class="shareProduct">
                    <ul>
                        <a href=""><li>Facebook <img src="/public/img/shareFacebook.png" alt=""></li></a>
                        <a href=""><li>WhatsApp <img src="/public/img/shareWhatsapp.png" alt=""></li></a>
                        <a href=""><li>Instagram <img src="/public/img/shareInstagram.png" alt=""></li></a>
                    </ul>
                </div>
            </div>
            <div id="payment">
                <div id="price">
                    <p>R$ 259,90</p>
                </div>
                <div id="paymentMethods">
                    <p>Formas de Pagamento</p>
                    <img src="/public/img/paymentMethods.png" alt="">
                    <p id="quota"><input type="radio" name="TESTE" id=""> à vista 259,90 </p>
                    <p id="quota"><input type="radio" name="TESTE" id=""> 2x de 129,95</p>
                    <p id="quota"><input type="radio" name="TESTE" id=""> 3x de 86,63</p>
                    <p id="quota"><input type="radio" name="TESTE" id=""> 4x de 64,96</p>
                    <p id="quota"><input type="radio" name="TESTE" id=""> 5x de 51,98</p>
                    <div id="frete">
                        <input type="text" id="cep" name="cep">
                        <input type="button" id="calcularFrete" value="Calcular Frete">
                    </div>
                    <input type="button" id="addShoppingCar" value="Adicionar ao Carrinho">
                </div>
            </div>
        </div>
        <div id="similarProducts">
            <p>Produtos similares:</p>
            <ul>
                <a href=""><li><img src="https://newgameplus.com.br/wp-content/uploads/2020/07/499733-horizon-zero-dawn-playstation-4-front-cover.jpg" alt=""></li></a>
                <a href=""><li><img src="https://newgameplus.com.br/wp-content/uploads/2020/07/499733-horizon-zero-dawn-playstation-4-front-cover.jpg" alt=""></li></a>
                <a href=""><li><img src="https://newgameplus.com.br/wp-content/uploads/2020/07/499733-horizon-zero-dawn-playstation-4-front-cover.jpg" alt=""></li></a>
                <a href=""><li><img src="https://newgameplus.com.br/wp-content/uploads/2020/07/499733-horizon-zero-dawn-playstation-4-front-cover.jpg" alt=""></li></a>
                <a href=""><li><img src="https://newgameplus.com.br/wp-content/uploads/2020/07/499733-horizon-zero-dawn-playstation-4-front-cover.jpg" alt=""></li></a>
                <a href=""><li><img src="https://newgameplus.com.br/wp-content/uploads/2020/07/499733-horizon-zero-dawn-playstation-4-front-cover.jpg" alt=""></li></a>
            </ul>

        </div>
    </main>
    <footer>

    </footer>

</body>

</html> -->