<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/product.css">
    <title>Rocket Games - Pagina Produto</title>
</head>

<body>
    <header>
        <section>
            <a href="#"><img class="logo" src="/public/img/logo.png" alt="Rocket Games Logo"></a>
            <form class="searchBar"">
                    <input type=" search" id="query" name="q" placeholder="O que voce procura?">
                <button>Pesquisar</button>
            </form>
            <a href="#"><img class="avatarProfile" src="/public/img/avatarProfile.png" alt="Perfil"></a>
            <a href="#">
                <p class="account">Faça login ou cadastre-se</p>
            </a>
            <a href="#"><img src="/public/img/shoppingCar.png" alt="Carrinho de Compras" class="shoppingCar"></a>
        </section>
        <nav>
            <ul>
                <a href="#">
                    <li>Consoles</li>
                </a>
                <a href="#">
                    <li>Jogos</li>
                </a>
                <a href="#">
                    <li>Acessórios</li>
                </a>
                <a href="#">
                    <li>Gift Cards</li>
                </a>
                <a href="#">
                    <li>Bundles</li>
                </a>
            </ul>
        </nav>
    </header>

    <main>
        <section class="product">
            <div class="container">
                <ul class="imageBar">
                    <a href="">
                        <li><img class="sampleImages" src="" alt=""></li>
                    </a>
                    <a href="">
                        <li><img class="sampleImages" src="" alt=""></li>
                    </a>
                    <a href="">
                        <li><img class="sampleImages" src="" alt=""></li>
                    </a>
                </ul>
                <img class="cover" src="https://www.gamingdragons.com/images/game_img/eldenringxbl.jpg"
                    alt="Imagem do Produto">
                <div class="about">
                    <h2>Elden Ring - XBOX</h2>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ipsam consectetur quia, libero
                        expedita laboriosam illum dolorum quas ipsum deleniti nam, error culpa. Repellat aspernatur modi
                        obcaecati incidunt labore voluptates.
                        Culpa vel minima nostrum odio error veniam aperiam nemo eius voluptate recusandae, quos omnis
                        nesciunt rerum quo quidem obcaecati. Optio voluptate molestiae pariatur culpa labore rem ullam
                        iste nulla consequatur.
                    </p>
                    <ul class="share">
                        <a href="">
                            <li><img src="/public/img/facebook-icon.png" alt="Facebook"></li>
                        </a>
                        <a href="">
                            <li><img src="/public/img/instagram.png" alt="Instagram"></li>
                        </a>
                        <a href="">
                            <li><img src="/public/img/WhatsApp.png" alt="WhatsApp"></li>
                        </a>
                    </ul>
                </div>
            </div>
            <section class="productPrice">
                <h1>R$ 259,00</h1>
                <p>Formas de Pagamento</p>
                <img src="/public/img/paymentMethods.png" alt="">
                <p>Calcular frete e prazo</p>
                <form class="frete">
                    <input id="query" name="q" placeholder="Digite o seu cep">
                    <button>Calcular</button>
                </form>
                <form action="" class="buy">
                    <button>Adicionar ao Carrinho</button>
                    <button>Comprar Agora</button>
                </form>
            </section>
        </section>
        <section class="similarProducts">
            <p>Veja tambem:</p>
            <ul>
                <a href="">
                    <li><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSeLeIAL8ezO2T0rJe4_ashulWQhk1LAId-xEBZKv3tGEJkOq0jYfSIMR2UBMO5NCAUbNlMOYY&usqp=CAE" alt=""></li>
                </a>
                <a href="">
                    <li><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRNh55qWpn3Gh1Uyu7hebnesGL1WmhdUT2Z8TlnFjy7RPulS_AHB0Qcq9Vje-RJ95XNGVHwc7FR&usqp=CAE" alt=""></li>
                </a>
                <a href="">
                    <li><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ9zCT1V6pe1LwvKlGpu5vlo8O65JPMpmgVJvE-e9IujAgdEIsbX__k1IedK2A&usqp=CAE" alt=""></li>
                </a>
                <a href="">
                    <li><img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQnfmYX10dYkaqLgeK_0x7MJgRU1bSP_4qQiDMKdwgFb0yvq3ttGo6AKdYnpA7bbLTmC6yPnRBC&usqp=CAE" alt=""></li>
                </a>
                <a href="">
                    <li><img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTjw8QktqZU2H75HQvjAkObKG4D2i55qfbE7lp3i5cIrblSIZ1n41086iQB63XzJ-WfgAbcnMvn8A&usqp=CAE" alt=""></li>
                </a>
                <a href="">
                    <li><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcT84tU1ZbfUgwBTghhyKoGKOIdL3IQpmiyscfFXIVpFG0evdbMxkar3vIaDfHv-b8T6vJQKDqM&usqp=CAE" alt=""></li>
                </a>
                <a href="">
                    <li><img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcThRxcooNBj8533NXPW53zmTN8Hk-qlXXVX8RkujjqlWyk9_qpNeSOhoWKb61l_fLTw33KXPpLy&usqp=CAE" alt=""></li>
                </a>
            </ul>
        </section>
    </main>
</body>

</html>