<%- include('./partials/header') %>
    <main>
        <div class="productlistdiv">
            <ul class="productresult">
                <li class="productresultli">
                    <a class="ali" href="" target="_blank">
                        Página inicial >
                    </a>

                </li>
                <li class="productresultli">
                    <b> Resultado da Busca</b>
                <li class="productresultli">
                    <select class="resultfilter">
                        <option value="20">Escolher ordem</option>
                        <option value="20">Preço crescente</option>
                        <option value="20">Mais populares</option>
                        <option value="20">Mais recentes</option>
                        <option value="20">Mais avaliados</option>
                    </select>
                </li>

            </ul>
        </div>
        <div class=products1>
            <ul class="productimages">
                <li class="productlist">
                    <div class="productbox">
                        <img id="dying" src="/img/dying.png" />
                        <h3>
                            Dying Light
                        </h3>
                        <p>
                            R$200,00
                        </p>
                        <button class="purchasebutton">
                            Comprar Agora
                        </button>
                    </div>
                </li>
                <li class="productlist">
                    <div class="productbox">
                        <img id="eldenring" src="/img/eldenring.png" />
                        <h3>
                            Elden Ring
                        </h3>
                        <p>
                            R$160,00
                        </p>
                        <button class="purchasebutton">
                            Comprar Agora
                        </button>
                    </div>
                </li>
                <li class="productlist">
                    <div class="productbox">
                        <img id="granturismo" src="/img/gran turismo.png" />
                        <h3>
                            Gran Turismo
                        </h3>
                        <p>
                            R$150,00
                        </p>
                        <button class="purchasebutton">
                            Comprar Agora
                    </div>
                    </button>
                    <li class="productlist">
                        <div class="productbox">
                            <img id="eldenring" src="/img/eldenring.png" />
                            <h3>
                                Elden Ring
                            </h3>
                            <p>
                                R$160,00
                            </p>
                            <button class="purchasebutton">
                                Comprar Agora
                            </button>
                        </div>
        </div>
        <div class=products2>
            <ul class="productimages">
                <li class="productlist">
                    <div class="productbox">
                        <img id="dying" src="/img/dying.png" />
                        <h3>
                            Dying Light
                        </h3>
                        <p>
                            R$200,00
                        </p>
                        <button class="purchasebutton">
                            Comprar Agora
                        </button>
                    </div>
                </li>
                <li class="productlist">
                    <div class="productbox">
                        <img id="eldenring" src="/img/eldenring.png" />
                        <h3>
                            Elden Ring
                        </h3>
                        <p>
                            R$160,00
                        </p>
                        <button class="purchasebutton">
                            Comprar Agora
                        </button>
                    </div>
                </li>
                <li class="productlist">
                    <div class="productbox">
                        <img id="granturismo" src="/img/gran turismo.png" />
                        <h3>
                            Gran Turismo
                        </h3>
                        <p>
                            R$150,00
                        </p>
                        <button class="purchasebutton">
                            Comprar Agora
                    </div>
                    </button>
                    <li class="productlist">
                        <div class="productbox">
                            <img id="dying" src="/img/dying.png" />
                            <h3>
                                Dying Light
                            </h3>
                            <p>
                                R$200,00
                            </p>
                            <button class="purchasebutton">
                                Comprar Agora
                            </button>
                        </div>
                    </li>
        </div>
      <%- include('./partials/footer') %>
