<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/sucesso.css">
    <title>Obrigado!</title>
</head>
<body>
    <header>
        <h1 class="espaco-topo">página de sucesso</h1>
    </header>
    <h2>PARABÉNS!
        <br>COMPRA REALIZADA COM SUCESSO.
    </h2>
    <section class="flex">
        <div class="produto">
            <small>Seu pedido foi processado com sucesso! <br> Um e-mail de confirmação foi enviado para email@email.com com todos detalhes do pedido. seu pagamento está sendo processado, você receberá um e-mail de confirmação. </small>
            </div>
    </section>

</body>
</html>