<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/sucesso.css">
    <title>Obrigado!</title>
</head>
<body>

    <header>
        <section>
          <a href="#"><img class="logo" src="/public/img/logo.png" alt="Rocket Games Logo"></a>
          <form class="searchBar">
            <input type=" search" id="query" name="q" placeholder="O que voce procura?">
            <button>Pesquisar</button>
          </form>
          <a href="#"><img class="avatarProfile" src="/public/img/avatarProfile.png" alt="Perfil"></a>
          <a href="#">
            <p class="account">Faça login ou cadastre-se</p>
          </a>
          <a href="#"><img src="/public/img/shoppingCar.png" alt="Carrinho de Compras" class="shoppingCar"></a>
        </section>
        <nav class="links">
          <ul>
            <a href="#">
              <li>Consoles</li>
            </a>
            <a href="#">
              <li>Jogos</li>
            </a>
            <a href="#">
              <li>Acessórios</li>
            </a>
            <a href="#">
              <li>Gift Cards</li>
            </a>
            <a href="#">
              <li>Bundles</li>
            </a>
          </ul>
        </nav>
      </header>

    <main>
        <h1 class="espaco-topo">página de sucesso</h1>
    </main>
    <h2>PARABÉNS!
        <br>COMPRA REALIZADA COM SUCESSO.
    </h2>
    <section class="flex">
        <div class="produto">
            <small>Seu pedido foi processado com sucesso! <br> Um e-mail de confirmação foi enviado para email@email.com com todos detalhes do pedido. seu pagamento está sendo processado, você receberá um e-mail de confirmação. </small>
            </div>
    </section>

    <footer>
        <section>
            <div class="footerTitles">
                <div class="linksContainer">
                    <h4>Sobre</h4>
                    <ul class="links">
                        <a href="http://" target="_blank" rel="">Rocket Games</a>
                        <a href="http://" target="_blank" rel="">Politica do Site e Marketplace</a>
                        <a href="http://" target="_blank" rel="">Trabalhe Conosco</a>
                        <a href="http://" target="_blank" rel="">Codigo de Defesa do Consumidor</a>
                    </ul>
                </div>
                <div class="linksContainer">
                    <h4>Fale Conosco</h4>
                    <ul class="links">
                    <a href="mailto:">Email</a>
                    <a href="tel:+">Telefone</a>
                    </ul>
                </div>
                <div class="linksContainer">
                    <h4>Nossas Redes</h4>
                    <ul class="networkLinks">
                        <a href="http://facebook.com" target="_blank"><li> <img class="footerImg" src="/public/img/socialMediaFacebook.png" alt=""> </li></a>
                        <a href="http://instagram.com" target="_blank"><li> <img class="footerImg" src="/public/img/socialMediaInstagram.png" alt=""> </li></a>
                        <a href="http://twitter.com" target="_blank"><li> <img class="footerImg" src="/public/img/socialMediaTwitter.png" alt=""> </li></a>
                    </ul>
                </div>
                <div class="linksContainer">
                    <h4>Termos e Condições</h4>
                    <ul class="links">
                        <a href=""><li> Termos e Condições </li></a>
                        <a href=""><li> Politica de Privacidade </li></a>
                        <a href=""><li> Politica de Cookies </li></a>
                    </ul>
                </div>
                <div class="linksContainer">
                    <h4>Formas de Pagamento</h4>
                    <ul class="links">
                        <a href=""><li> <img class="paymentImg" src="/public/img/paymentMethods.png" alt=""> </li></a>
                    </ul>
                </div>
            </div>
        </section>
    </footer>

</body>
</html>