<%- include('./partials/header') %>

    <main>
        <h1 class="espaco-topo">página de sucesso</h1>
    
    <div class="titulo">
    <h3>PARABÉNS!
        <br>COMPRA REALIZADA COM SUCESSO.
    </h3>
  </div>
    <section class="flex">
        <div class="produto">
            <small>Seu pedido foi processado com sucesso! <br> Um e-mail de confirmação foi enviado para email@email.com com todos detalhes do pedido. seu pagamento está sendo processado, você receberá um e-mail de confirmação. </small>
            </div>
    </section>
  </main>

    <%- include('./partials/footer') %>