@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

header{
  margin-bottom: 50px;
}

@media (max-width: 800px){
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }
  
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }

.table-responsive td,
.table-responsive th {
  height: 35px;
}

.table-responsive thead {
  float: left;
}

.table-responsive tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.table-responsive tbody tr {
  display: inline-block;
}

}

.bloco1{
  background-color: #f2f2f2;
  width: 25em;
  border-radius: 8px;
  border: solid 1px #f2f2f2;
  padding: 10px;
  text-align: left;
  padding-left: 20px;
  text-decoration: none;
}

.bloco2{
  background-color: #f2f2f2;
  margin-left: 10px;
  border-radius: 8px;
  width: 25em;
  padding: 10px;
  text-align: left;
  padding-left: 20px;
  
}

.bloco3{
  background-color: #f2f2f2;
  width: 375px;
  margin-left: 10px;
  border-radius: 8px;
  border: solid 1px #f2f2f2;
  padding: 10px;
  text-align: left;
  padding-left: 20px;
}

.dados-cliente{
  display: flex;
  margin-top: 20px;


  margin-left: 3.2%;


  height: 30em; 
  
  
}




.tabela{
  background-color: #f2f2f2;
  border-radius: 20px;
  border-collapse: collapse;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 75em;
  padding-bottom: 100px;
  
  
}

      
.coluna2{
  text-align: center;
}

th, td {
  text-align: left;
  padding: 8px;
        
}
      
tr:nth-child(even){
  background-color: #ffffff;
        
}
      
th {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
        
}

header section{
  height: 10vh;
  width: 100%;
  background-color: #021e34;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

header section .logo{
  height: 50px;
  width: 50px;
}

header section .searchBar input {
  text-align: center;
  font-size: 15px;
  width: 500px;
  height: 30px;
  border-style: solid;
  border-radius: 10px;
  border-color:#297C9F;
}

header section .searchBar button {
  width: 80px;
  font-size: 15px;
  border: 1px solid #297C9F;
  border-radius: 5px;
  background-color: #297C9F
}

header section .avatarProfile {
  height: 40px;
  width: 40px;
}

header section .account {
  margin-inline: -120px;
  width: 100px;
}

header section a {
  text-decoration: none;
}

header section .shoppingCar {
  height: 40px;
  width: 40px;
}

nav {
  height: 4vh;
  width: 100%;
  background-color: #297C9F;
}

nav ul {
  display: flex;
  padding-top: 2px;
  justify-content: space-around;
  list-style-type: none;
}
nav ul a{
  text-decoration: none;
}

section.product {
  height: 70vh;
  display: flex;
}

