@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    background-color:#d4d3d3;
}

/* --------------------- header ------------------------ */

header {
    height: 85px;
    background-color: #021E34;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

header p {
    width: 100px;
    
}
header a{
    color: #FFFFFF;
    text-decoration: none;
}

#logo {
    width: 60px;
    height: 60px;
    margin-left: 40px;
}

#searchBar {
    margin-left: 16px;
    margin-right: 400px;
}

#searchBar input {
    font-size: 15px;
    width: 500px;
    height: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color:#297C9F;
}

#searchBar button {
    font-size: 15px;
    border-style: solid;
    border-radius: 20px;
    background-color: #ffffff;
    border-color: #297C9F;
}

#avatarProfile {
    width: 50px;
    height: 50px;
}

#shoppingCar {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-left: 30px;
}

.navBar {
    display: block;
    text-align: center;
    font-size: 16px;
    height: 35px;
    background-color: #297C9F;
    margin-bottom: 30px;
}

.navBar ul {
    display: flex;
    list-style-type: none;
    width: 60%;
    /* border: solid 1px red; */
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.navBar a li {
    display: inline-block;
    margin-top: 8px;
    margin-inline: 40px;
    
}
.slider img{
    display: block;
    margin: auto;
    height: 400px;
    width: 800px;
    border-radius: 25px;

   
}
.slider li{
    list-style: none;
}
 
.productimages{
    display: flex;
    justify-content:center;
    

}
    #dying{
        
        width: 250px;
        height: 250px;
    }
    #eldenring{
        
        width: 250px;
        height: 250px;

    }
   #granturismo{
   
    width: 250px;
    height: 250px;
   }

   .productlist{
    padding: 100px;
    list-style-type: none;
   }
   
   
.productbox{
    text-align: center;
    border:solid 2px;
    border-radius: 25px;
    overflow: hidden;
    background-color: #FFFFFF;
    
}
.productbox p{
    font-weight: 600;
}
.purchasebutton{
margin-bottom: 10px;
background-color: #021E34;
color: #FFFFFF;
border-radius: 25px;
border: none;
padding: 10px;
cursor: pointer;
}
/*.purchasebutton:hover{
    background: red;
}*/

.footerUl{
    color: grey;
    display:flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
}
.footer-wrapper{
 /*   border: solid 1px red; */
    display: flex;
    padding: 10px 0px;
    background-color: #021E34;
    
    
}
.footerDiv{
    display:flex;
}
.socialIcon a{
    margin: 0;
    margin-left: -7px;


}
li a{
    color: #FFFFFF;
    text-decoration: none;
}
#contactLogo{
    margin-left: -7px;
}


    #payLogo{
    width: 300px;
    }
