@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 100%;
    background-color:#d4d3d3;
}

/* ---------- hEADER ---------- */

header section{
    height: 10vh;
    width: 100%;
    background-color: #021e34;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

header section .logo{
    height: 50px;
    width: 50px;
}

header section .searchBar input {
    text-align: center;
    font-size: 15px;
    width: 500px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color:#297C9F;
}

header section .searchBar button {
    width: 80px;
    font-size: 15px;
    border: 1px solid #297C9F;
    border-radius: 5px;
    background-color: #297C9F;
    color: white;
}

header section .searchBar button:hover {
    border: 2px solid white;
}

header section .avatarProfile {
    height: 40px;
    width: 40px;
}

header section .account {
    margin-inline: -120px;
    width: 100px;
}

header section a {
    text-decoration: none;
}

header section a:visited{
    color: white;
}

header section .shoppingCar {
    height: 40px;
    width: 40px;
}

/* ---------- NAVBAR ---------- */

nav {
    height: 4vh;
    width: 100%;
    background-color: #297C9F;
}

nav ul {
    display: flex;
    padding-top: 2px;
    justify-content: space-around;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

nav ul a:hover{
    color: #021E34;
}

/* ---------- PRODUCT COVER ---------- */


main {
    display: block;
    width: 900px;
    height: 900px;
    margin: 40px 60px 60px 60px;
    border: block 1px; ;
    
}


/* ---------- FOOTER ---------- */

footer {
    width: 100%;
    background-color: #021E34;
    height: 40vh;
    color: gray;
}

footer ul {
    list-style-type: none;
}

footer .footerTitles {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

footer section .footerTitles .linksContainer .links{
    margin-top: 20px;
}

footer section .footerTitles .linksContainer .links a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}

footer section .footerTitles .linksContainer .networkLinks{
    display: flex;
    text-decoration: none;
    margin-top: 20px;
}

footer .footerTitles h4 {
    display: flex;
    align-items: center;
}

footer .footerImg {
    width: 35px;
    margin-inline: 3px;
}

footer .paymentImg {
    width: 300px;
}





/* .footerUl{
    color: grey;
    display:flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
}

.footer-wrapper{
    display: flex;
    padding: 10px 0px;
    background-color: #021E34; 
}

.footerDiv{
    display:flex;
}
.socialIcon a{
    margin: 0;
    margin-left: -7px;


}
li a{
    color: #FFFFFF;
    text-decoration: none;
}
#contactLogo{
    margin-left: -7px;
}


    #payLogo{
    width: 300px;
    } */
