@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}  

  
  .bloco2{
      display:block;
    background-color: #f2f2f2;
    margin-left: 10px;
    border-radius: 8px;
    width: 1200px;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
    margin: auto;
  }
  
  .bloco3{
    background-color: #f2f2f2;
    width: 1200px;
    margin-left: 10px;
    border-radius: 8px;
    border: solid 1px #f2f2f2;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
    margin: auto;
  }
  
  .dados-cliente{
    display: flex;
    margin-top: 20px;
  
  
    margin-left: 2%;
    margin-right: 2%;
  
  
    height: 30em; 
  }
  
  svg {
    display: inline-flex;
  }
  
  .titulo1{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .titulo2{
    display: flex;
    margin-top: 10px;
  }
  
  .cartao img{
      height: 27px;
      width: 250px;
      margin-bottom: 20px;
      margin-left: 20px;
  }
  
  .pix img{
    height: 27px;
    width: 100px;
    margin-bottom: 20px;
    margin-left: 25px;
  }
  
  .boleto img{
    height: 35px;
    width: 50px;
    margin-bottom: 20px;
    margin-left: 25px;
  }
  
  .titulo3{
    display: flex;
    margin-top: 10px;
  }
  
  .descricao{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  
  .descricao2{
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: -10px;
  }
  
  .descricao3{
    margin-left: 70px;
    margin-top: 09px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: -10px;
  }
  
  .form-check{
    display: flex;
  }
  
  .descricao a{
    color: black;
  }
  
  
  
  .tabela{
    background-color: #f2f2f2;
    border-radius: 20px;
    border-collapse: collapse;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px;
      overflow: hidden;
      margin-left: 3.5%;
    margin-top: auto;
    width: 78.4em;
    padding-bottom: 100px;
   
    
  }
  
        
  .coluna2{
    text-align: right;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
          
  }
        
  tr:nth-child(even){
    background-color: #ffffff;
          
  }
        
  th {
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
          
  }
  
  header section{
    height: 10vh;
    width: 100%;
    background-color: #021e34;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

header {
    height: 85px;
    background-color: #021E34;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
header p {
    width: 100px;
    
}
header a{
    color: #FFFFFF;
    text-decoration: none;
}

#logo {
    width: 60px;
    height: 60px;
    margin-left: 40px;
}

#searchBar {
    margin-left: 16px;
    margin-right: 400px;
}

#searchBar input {
    font-size: 15px;
    width: 500px;
    height: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color:#297C9F;
}

#searchBar button {
    font-size: 15px;
    border-style: solid;
    border-radius: 20px;
    background-color: #ffffff;
    border-color: #297C9F;
}

#avatarProfile {
    width: 10px;
    height: 10px;
}

#shoppingCar {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-left: 30px;
}

#menu-h ul{
    list-style: none;
    padding: 0;
    background-color: #297C9F;;
    
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
  
}

#menu-h ul li a:hover {
      background-color: rgb(24, 139, 233);
}

.footerUl{
    color: grey;
    display:flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
}
.footer-wrapper{
 /*   border: solid 1px red; */
    display: flex;
    padding: 10px 0px;
    background-color: #021E34;
    
    
}
.footerDiv{
    display:flex;
}





