@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    background-color:#d4d3d3;
}

header section{
    height: 10vh;
    background-color: #021e34;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

header section .logo{
    height: 50px;
    width: 50px;
}

header section .searchBar input {
    text-align: center;
    font-size: 15px;
    width: 500px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color:#297C9F;
}

header section .searchBar button {
    width: 80px;
    font-size: 15px;
    border: 1px solid #297C9F;
    border-radius: 5px;
    background-color: #297C9F
}

header section .avatarProfile {
    height: 40px;
    width: 40px;
}

header section .account {
    margin-inline: -120px;
    width: 100px;
}

header section a {
    text-decoration: none;
}

header section .shoppingCar {
    height: 40px;
    width: 40px;
}

nav {
    height: 4vh;
    background-color: #297C9F;
}

nav ul {
    display: flex;
    padding-top: 2px;
    justify-content: space-around;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
}

section.product {
    height: 70vh;
    width: 100vw;
    display: flex;
}

div.container {
    background-color: white;
    margin: 40px 20px 40px 60px;
    padding: 30px;
    height: 70vh;
    width: 80vw;
    display: flex;
    border-radius: 10px;
}

section.product img {
    width: 265px;
    height: 350px;
}

.container .imageBar {
    list-style-type: none;
    padding-right: 60px;
}

.container .sampleImages {
    background-image: url(https://www.gamingdragons.com/images/game_img/eldenringxbl.jpg);
    background-size:cover;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 20px;
}

div.about {
    padding-left: 30px ;
    padding-top: 45px;
}

div.about h2 {
    padding-bottom: 30px;
}

div.about p {
    text-align: justify;
}

div.about ul.share {
    list-style-type: none;
    display: flex;
    padding-top: 30px;
    align-items:center;
    justify-content: center;
}

div.about ul li {
    margin-inline: 10px;
}

div .share img {
    width: 30px;
    height: 30px;
}

section.productPrice {
    background-color: white;
    height: 70vh;
    width: 25vw;
    padding: 30px;
    margin: 40px 60px 40px 40px;
    border-radius: 10px;
    text-align: center;
}

section.productPrice h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

section.productPrice p{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

section.productPrice img {
    height: 27px;
    width: 250px;
    margin-bottom: 30px;
}

form.frete{
    margin-bottom: 30px;
}

form.frete input {
    text-align: center;
    font-size: 15px;
    width: 120px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color:#297C9F;
}

form.frete button {
    width: 65px;
    font-size: 15px;
    border: 1px solid #297C9F;
    border-radius: 5px;
    background-color: #297C9F
}

section.productPrice form.buy button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #021e34;
    border: 1px solid #021e34;
    color: white;
    margin-bottom: 15px;
    font-size: 1.1rem;
}


/* header {
    height: 85px;
    background-color: #021E34;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

header p {
    width: 100px;
}

#logo {
    width: 60px;
    height: 60px;
    margin-left: 40px;
}

#searchBar {
    margin-left: 16px;
    margin-right: 350px;
}

#searchBar input {
    font-size: 15px;
    width: 500px;
    height: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color:#297C9F;
}

#searchBar button {
    font-size: 15px;
    border-style: solid;
    border-radius: 20px;
    background-color: #ffffff;
    border-color: #297C9F;
}

#avatarProfile {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#shoppingCar {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-left: 30px;
}

.navBar {
    display: block;
    text-align: center;
    font-size: 16px;
    height: 35px;
    background-color: #297C9F;
    margin-bottom: 30px;
}

.navBar ul {
    margin: 0;
    padding: 0;
}

.navBar a li {
    display: inline-block;
    margin-top: 8px;
    margin-inline: 40px;
}

#product {
    display: flex;
}

#imageProduct {
    text-align: center;
    background-color:#f2f2f2;
    width: 600px;
    height: 600px;
    border-style: solid;
    border-color:#f2f2f2;
    border-radius: 25px;
    margin-left: 30px;
}

#imageProduct p{
    margin: auto;
    font-size: 2rem;
    font-weight: 900;
}

.cover {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 350px;
    height: 450px;
}

.shareProduct {
    background-color: #021E34;
    color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    height: 40px;
    font-size: 18px;
    margin-top: 25px;
}

.shareProduct ul {
    list-style: none;
}

.shareProduct li {
    display: inline-block;
    margin-inline: 10px;
    margin-top: 10px;
}

.imagesBar{
    margin-top: 80px;
    margin-left: 40px;
    height: 400px;
    width: 200px;
    background-color: #FFFFFF;
    border: solid;
    border-color: #021E34;
    border-radius: 25px;
    text-align: center;
}

.imagesBar ul {
    list-style: none;
    padding: 25px;
}

.imagesBar li {
    display: inline-block;
    margin-bottom: 30px;
}

.productImages {
    width: 140px;
    height: 80px;
}

#payment {
    background-color: #021E34;
    width: 400px;
    height: 600px;
    border-style: solid;
    border-color: #021E34;
    border-radius: 25px;
    margin-left: 30px;
}

#price {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 80px;
    width: 350px;
    background-color:#FFFFFF;
    border: solid;
    border-radius: 25px;
    font-size: 3rem;
    color:#021E34;
    text-align: center;;
}

#price p {
    text-align: center;
    margin: 0;
    padding: 15px;
}

#paymentMethods {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 480px;
    width: 370px;
    background-color:#FFFFFF;
    border: solid;
    border-radius: 25px;
    font-size: 3rem;
    color: black;
    text-align: center;
}

#paymentMethods p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -15px;
}

#paymentMethods img {
    height: 30px;
    width: 320px;
    margin-bottom: -10px;
}

#frete {
    margin-top: 40px;
}

#calcularFrete {
    width: 100px;
    border: solid;
    border-radius: 25px;
    background-color: #021E34;
    border-color:#021E34;
    color: #FFFFFF;
}

#cep {
    height: 40px;
    border: solid;
    border-radius: 25px;
    border-color: #021E34;
    width: 200px;
    margin-top: 20px;
    font-size: 1.5rem;
}

#addShoppingCar {
    margin-top: 80px;
    border: solid;
    border-radius: 25px;
    background-color: #021E34;
    border-color:#021E34;
    color: #FFFFFF;
    width: 300px;
    height: 60px;
    font-size: 1.5rem;
}

#similarProducts{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1280px;
    height: 270px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

#similarProducts p{
    font-size: 1.5rem;
    margin-left: 20px;
}

#similarProducts li {
    display: inline-block;
    margin-inline-start: 40px;
}

#similarProducts img {
    width: 150px;
    height: 200px;
}