@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    background-color:#d4d3d3;
}

header section{
    height: 10vh;
    width: 100%;
    background-color: #021e34;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

header section .logo{
    height: 50px;
    width: 50px;
}

header section .searchBar input {
    text-align: center;
    font-size: 15px;
    width: 500px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color:#297C9F;
}

header section .searchBar button {
    width: 80px;
    font-size: 15px;
    border: 1px solid #297C9F;
    border-radius: 5px;
    background-color: #297C9F
}

header section .searchBar button:hover {
    color: white;
}

header section .avatarProfile {
    height: 40px;
    width: 40px;
}

header section .account {
    margin-inline: -120px;
    width: 100px;
}

header section a {
    text-decoration: none;
}

header section a:visited{
    color: white;
}

header section .shoppingCar {
    height: 40px;
    width: 40px;
}

nav {
    height: 4vh;
    width: 100%;
    background-color: #297C9F;
}

nav ul {
    display: flex;
    padding-top: 2px;
    justify-content: space-around;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    color: #021e34;
    font-weight: bold;
}

nav ul a:hover{
    color: white;
}

section.product {
    height: 70vh;
    display: flex;
}

div.container {
    background-color: white;
    margin: 40px 20px 40px 60px;
    padding: 30px;
    height: 70vh;
    display: flex;
    border-radius: 10px;
}

section.product img {
    width: 265px;
    height: 350px;
}

.container .imageBar {
    list-style-type: none;
    padding-right: 60px;
}

.container .sampleImages {
    background-image: url(https://www.gamingdragons.com/images/game_img/eldenringxbl.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.container .sampleImages:hover {
    border-radius: 10px;
    border: 2px solid black;
}

div.about {
    padding-left: 30px ;
    padding-top: 45px;
}

div.about h2 {
    padding-bottom: 30px;
}

div.about p {
    text-align: justify;
}

div.about ul.share {
    list-style-type: none;
    display: flex;
    padding-top: 30px;
    align-items:center;
    justify-content: center;
}

div.about ul li {
    margin-inline: 10px;
}

div .share img {
    width: 30px;
    height: 30px;
}

div .share img:hover{
    border: 3px solid #021e34;
    border-radius: 5px;
}

section.productPrice {
    background-color: white;
    height: 70vh;
    padding: 30px;
    margin: 40px 60px 40px 40px;
    border-radius: 10px;
    text-align: center;
}

section.productPrice h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

section.productPrice p{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

section.productPrice img {
    height: 27px;
    width: 250px;
    margin-bottom: 30px;
}

form.frete{
    margin-bottom: 30px;
}

form.frete input {
    text-align: center;
    font-size: 15px;
    width: 120px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color:#297C9F;
}

form.frete button {
    width: 40px;
    font-size: 15px;
    border: 1px solid #297C9F;
    border-radius: 5px;
    background-color: #297C9F
}

form.frete button:hover {
    color: white;
}

section.productPrice form.buy button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #021e34;
    border: 1px solid #021e34;
    color: white;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

section.productPrice form.buy button:hover{
    background-color: #297C9F;
    border: 3px solid #021e34;
}

section.similarProducts {
    height: 35vh;
    width: 90vw;
    padding: 30px;
    margin: 80px 20px 40px 60px;
    border-radius: 10px;
    background-color: white;
}

section.similarProducts ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

section.similarProducts h1{
    margin-bottom: 20px;
}

section.similarProducts ul a li img{
    width: 125px;
    height: 125px;
    padding: 10px;
}

section.similarProducts ul a li img:hover{
    border: 3px solid #021e34;
    border-radius: 10px;
}

section.productDescription {
    height: 30vh;
    width: 90vw;
    padding: 30px;
    margin: 20px 20px 40px 60px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    text-align: justify;
}

section.productDescription h1 {
    margin-bottom: 10px;
}

section.productInformation {
    height: 50vh;
    width: 90vw;
    padding: 30px;
    margin: 20px 20px 40px 60px;
    border-radius: 10px;
    background-color: white;
}

section.productInformation h1 {
    margin-bottom: 10px;
}

section.productInformation ul {
    list-style-type: none;
}

section.productInformation ul li {
    margin-bottom: 10px;
}