@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* header */

header {
    height: 85px;
    background-color: #021E34;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

header p {
    width: 100px;
}

#logo {
    width: 60px;
    height: 60px;
    margin-left: 40px;
}

#searchBar {
    margin-left: 16px;
    margin-right: 400px;
}

#searchBar input {
    font-size: 15px;
    width: 500px;
    height: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color:#297C9F;
}

#searchBar button {
    font-size: 15px;
    border-style: solid;
    border-radius: 20px;
    background-color: #ffffff;
    border-color: #297C9F;
}

#avatarProfile {
    width: 50px;
    height: 50px;
}

#shoppingCar {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-left: 30px;
}

.navBar {
    text-align: center;
    font-size: 16px;
    height: 35px;
    background-color: #297C9F;
    margin-bottom: 30px;
}

.navBar p {
    display: inline-block;
    margin-inline: 70px;
    margin-block: 8px;
}

/* Main */

#productName {
    font-size: 1.8rem;
    margin-left: 50px;
}

#product {
    display: flex;
}

#imageProduct {
    text-align: center;
    background-color: #FFFFFF;
    width: 600px;
    height: 600px;
    border-style: solid;
    border-color: #021E34;
    border-radius: 25px;
    margin-left: 30px;
}

.cover {
    border: solid;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 25px;
    width: 350px;
    height: 450px;
}

.shareProduct {
    background-color: #297C9F;
    border-radius: 0 0 20px 20px;
    height: 60px;
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content:center;
    margin-top: 15px;
}

.shareProduct ul {
    list-style: none;
    padding: 0;
}

.shareProduct li {
    display: inline-block;
    margin-inline: 10px;
}

.imagesBar{
    margin-left: 40px;
    height: 600px;
    width: 200px;
    border: solid;
    background-color: white;
    border-radius: 25px;
    text-align: center;
}

.imagesBar ul {
    list-style: none;
    padding: 25px;
}

.imagesBar li {
    display: inline-block;
    margin-bottom: 30px;
}

.productImages {
    width: 140px;
    height: 80px;
}

#payment {
    background-color: #FFFFFF;
    width: 400px;
    height: 600px;
    border-style: solid;
    border-color: #021E34;
    border-radius: 25px;
    margin-left: 30px;
}

#price {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 80px;
    width: 350px;
    background-color: #021E34;
    border: solid;
    border-radius: 25px;
    font-size: 3rem;
    color: white;
    text-align: center;;
}

#price p {
    text-align: center;
    margin: 0;
    padding: 15px;
}

#paymentMethods {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 480px;
    width: 370px;
    background-color: #021E34;
    border: solid;
    border-radius: 25px;
    font-size: 3rem;
    color: white;
    text-align: center;
}

#paymentMethods p {
    font-size: 18px;
    margin-bottom: -15px;
}

#paymentMethods img {
    height: 30px;
    width: 320px;
    margin-bottom: -10px;
}

#frete {
    margin-top: 40px;
}

#calcularFrete {
    width: 100px;
    border: solid;
    border-radius: 25px;
    border-color: #297C9F;
}

#cep {
    height: 40px;
    border: solid;
    border-radius: 25px;
    border-color: #297C9F;
    width: 200px;
    margin-top: 20px;
}

#addShoppingCar {
    display: flex;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 350px;
    background-color: white;
    border: solid;
    border-radius: 25px;
    font-size: 1.8rem;
    color: #021E34;
    text-align: center;
}

#addShoppingCar p {
    margin-top: 5px;
}

#addShoppingCar img {
    margin-left: auto;
    margin-right: auto;
}
