/* --- 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}  

 --- */

/* --- HEADER ---*/


/* --- 
header section{
    height: 10vh;
    width: 100%;
    background-color: #021e34;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }
  
  header section .logo{
    height: 50px;
    width: 50px;
  }
  
  header section .searchBar input {
    text-align: center;
    font-size: 15px;
    width: 500px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color:#297C9F;
  }
  
  .links a{
    color: #ffffff;
  }
  
  header section .searchBar button {
    width: 80px;
    font-size: 15px;
    border: 1px solid #297C9F;
    border-radius: 5px;
    background-color: #297C9F
  }
  
  header section .avatarProfile {
    height: 40px;
    width: 40px;
  }
  
  header section .account {
    margin-inline: -120px;
    width: 100px;
  }
  
  header section a {
    text-decoration: none;
  }
  
  header section .shoppingCar {
    height: 40px;
    width: 40px;
  }
  
  nav {
    height: 4vh;
    width: 100%;
    background-color: #297C9F;
  }
  
  nav ul {
    display: flex;
    padding-top: 2px;
    justify-content: space-around;
    list-style-type: none;
  }
  nav ul a{
    text-decoration: none;
  }
  
---*/

  /* --- MAIN

.titulo{
  text-align: center;
}

.produto{
    background: #021E34;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    margin-top: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 35em
}

.flex{
    display: flex;
}

body {
    text-align: center;
   
}

main{
    margin-top: 10%;
   
}

.espaco-topo{
    margin-top: 100px;
    color: #fff;
}


/* --- FOOTER 


footer {
    margin-top: 21%;
    width: 100%;
    background-color: #021E34;
    height: auto;
    color: gray;
  }
  
  footer ul {
    list-style-type: none;
  }
  
  footer .footerTitles {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
  }
  
  footer section .footerTitles .linksContainer .links{
    margin-top: 20px;
  }
  
  footer section .footerTitles .linksContainer .links a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
  }
  
  footer section .footerTitles .linksContainer .networkLinks{
    display: flex;
    text-decoration: none;
    margin-top: 20px;
  }
  
  footer .footerTitles h4 {
    display: flex;
    align-items: center;
    margin-left: 15%;
  }
  
  footer .footerImg {
    width: 35px;
    margin-inline: 3px;
  }
  
  footer .paymentImg {
    width: 300px;
  }

  .links{
      text-align: left;
  }

  
/* --- RESPONSIVIDADE 


@media (max-width: 800px){ 
  .produto{
      box-sizing: border-box;
  }    
}

