@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.produto{
    background: #021E34;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    margin-top: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 35em
}

.flex{
    display: flex;
}

body {
    text-align: center;
    padding: 30px;
}

.espaco-topo{
    margin-top: 100px;
    color: #fff;
}

@media (max-width: 800px){ 
    .produto{
        box-sizing: border-box;
    }    
}